#!/bin/bash

#start dwm

wifi(){
      STATUS="X`/sbin/iwgetid`"
      if test "$STATUS" != "X" ; then
        ESSID="`/sbin/iwgetid |awk -F ":" '{print $2}'|sed -e 's/"//g'`"
        LINK="`awk '/wlan0:/ {print $3}' /proc/net/wireless |sed -e 's/\.//g'`"
      echo " $ESSID:$LINK"
      fi
    }

# Show memory use, volume %, battery %, wifi status and time in status bar
while xsetroot -name "`wifi` RAM:$(free -h | awk '/^Mem:/ {print $3 "/" $2}') DiskFree:$(df -Ph | grep "/dev/sda4" | awk {'print $4'}) Vol:$(amixer get Master | tail -1 | awk '{ print $5 }' | tr -d '[]')  Bat:$(acpi | awk '{ print $4 }' | tr -d ',')  $(date '+%e %b %Y %a %k:%M')"
    do
        sleep 1
    done &
xrandr --output eDP-1 --primary --mode 1920x1080 --pos 1920x0 --rotate normal --output VGA-1 --mode 1920x1080 --pos 0x0 --rotate normal --output DP-1 --off --output HDMI-1 --off --output DP-2 --off --output HDMI-2 --off
